.ubuntu{
    font-family: Ubuntu;

}
.vollkorn{
    font-family: Vollkorn;

}
.monteserat{
    font-family: Monterserat;

}
.barlow{
    font-family: Barlow;

}
.opensans{
    font-family: OpenSans;

}